@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('../Fonts/WEB/css/clash-display.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');

:root {
    --c-dark: #053827;
    --c-brand: #D6D6D6;
    --c-brand-hover: rgb(202, 202, 202);
    --c-brand-light: #00C38C;
    --c-brand-button: #01946A;
    --c-brand-bg-gradient: linear-gradient(to right, #D4FBDC, white);
    --c-body: #00C38C;
    --font-base: sans-serif;
    ;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
    --transition: all 0.5s ease;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: var(--font-base);
}

body {
    background: #EAEEEF;

}

.hamburger {
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.sidebar {
    width: 280px;
    height: 100vh;
    background-color: white;
    box-shadow: 1px 0 100px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}

.top {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
}

.left-texts {
    text-align: right;
    padding-right: 10px;
}

.text-top {
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: bold;
}

.text-bottom {
    margin-top: 0;
    font-size: 14px;
}

.middle {
    position: absolute;
    top: 200px;
    width: 100%;
}

.sidebar-section {
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: black;
}

.sidebar-section:hover {
    background: #EAFFEA;
}

.sidebar-section-icon {
    padding-left: 30px;
    padding-right: 20px;
}

.sidebar-section-text {
    font-size: 18px;
}

.bottom {
    position: absolute;
    bottom: 130px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 70px;
    width: 100%;
    border-radius: 10px;
}

.bottom:hover {
    background: #EAFFEA;
}

.logout-icon {
    padding-left: 30px;
    padding-right: 20px;
}

.logout-text {
    font-size: 18px;
}

.img-container {
    position: absolute;
    right: 65px;
    top: 35px;
    height: 90px;
}

.img-cmm {
    height: 100%;
}

.table-container {
    margin-left: 300px;
    max-width: 1620px;
    margin-top: 200px;
    overflow-x: auto;
}

.table-accounts {
    margin: 0 auto;
    width: 90%;
    min-width: 900px;
    background: white;
    height: 60px;
    border-radius: 10px;
}

.table-accounts th {
    background: #88FF88;
    border-radius: 5px;
    width: 300px;
}

.table-accounts td {
    background: #EEFFEE;
    border-radius: 5px;
    text-align: center;
}

.table-accounts th,
.table-accounts td {
    padding: 10px;
}

.table-accounts button {
    padding: 5px 10px;
}

@media screen and (max-width: 1350px) {
    .table-container {
        margin-left: 0;
    }

    .table-accounts {
        width: 92%;
    }

    .sidebar {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 905px) {
    .table-container {
        margin-left: 0;
    }

    .table-accounts {
        width: 92%;
    }

    .sidebar {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

/* paki show nalang ng sidebar when clicking the hamburger menu need dito script and some other css classes */