@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('../Fonts/WEB/css/clash-display.css');

:root {
    --c-dark: #053827;
    --c-brand: #D6D6D6;
    --c-brand-hover: rgb(202, 202, 202);
    --c-brand-light: #00C38C;
    --c-brand-button: #01946A;
    --c-brand-bg-gradient: linear-gradient(to right, #D4FBDC, white);
    --c-body: #00C38C;
    --font-base: sans-serif;;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: var(--font-base);
}

body {
    background: white;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    min-height: 100vh;
}

/* Accounts */

.sidebar .user i {
    color:#393939;
    font-size: 200px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.sidebar {
    width: 350px;
    background-color: #637464;
    height: 100%;
    overflow: auto;
    text-align:center;
    position: absolute;
    top: -20px;
    left: 9%;
    transform: translateX(-50%);    
}

.image-logo .CMM-img {
    float: right;
    margin-top: 30px;
    margin-right:40px;
    width:400px    ;
}

.sidebar ul {
    list-style:none;
    margin:0;
    padding:0;
}

.sidebar li {
    margin:0;
    padding:0;
}

.sidebar ul li {
    padding:8px 0px;
}

.sidebar ul li a {
    display:block;
    text-decoration:none;
    color:white;
    text-align: left;  
}

.sidebar a {
    padding:15px 10px;
    border-radius: 15px;
    font-size: 30px;
}

.sidebar-section i {
    color:white;
    font-size:40px;
    text-align: left;
    margin-left: 10px;
}

.sidebar .logout a {
    margin-top:50px;
    text-align: left;
    padding:15px 10px;
    border-radius: 15px;
    font-size: 30px;
}

.logout i {
    text-align:left;
    color:white;
    font-size:40px;
}

.sidebar-item a:hover {
    background-color:#00E2A2;
}

.search .search-bar {
    margin-top:250px;
    float:right;
    right:10%;
    transform: translateX(110%);
    padding:10px 30px;
    border-radius: 15px;
    font-size:20px; 
    border: solid 1px #01946A;
} 

.account table {
    float: right;
    margin-top:70px;
    width:75%;
    text-align:center;
    transform: translateX(-5%);
    font-size: 20px;
}

.account th {
    padding: 15px 10px;
    background-color: #01946A;
    color:white;
}

.account td {
    padding: 15px 10px;
    background-color: white;
}
.account table, td {
    border:black solid 1px;
    border-collapse: collapse;
}

.reset-btn {
    width: 100%;    
    height:auto;
    padding:10px 50px;
    font-size: 20px;
    background-color: #969393;
    border:none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.search-btn {
    float:right;
    padding:6px 10px;
    margin-top:250px;
    transform: translateX(1280%);   
    border-radius: 15px;    
    background-color:#01946A;
}

.search .search-btn i{
    font-size: 30px;
    color:white;
}

/* media queries */
@media screen and (max-width: 1000px) {

    .sidebar.active {
        border-radius: 6px 6px 0 0;
    }
    .sidebar-section.active {
        right: 30px;
        left: 30px;
    }
    .sidebar-section {
        height: auto;
        position: fixed;
        right: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: var(--c-dark);
        width: 100% calc(-30px);
        text-align: center;
        transition: 0.3s;
        z-index: 1000;
        border-radius: 0 0 6px 6px;
    }
    .sidebar-section ul {
        flex-direction: column;
    }
    .sidebar-section ul li {
        margin-left: 0;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
  }
  .table-center {
    width: 100%;
  }
  .reset-btn {
    width: auto;
    padding:10px 30px;
    font-size: 15px;
  }

@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .reset-btn {
        width: auto;
        padding:5px 10px;
        font-size: 5px;
      }
      .table-center {
        width: 50%;
      }
      .sidebar .user{
        font-size: 50px;
      }
      .sidebar{
        width: 100px;
        background-color: #637464;
        height: 100%;
        position: fixed;
      }
      .image-logo .CMM-img {
        float: right;
        width:50px    ;
    }
    .sidebar ul li {
        padding:3px 0px;
    }
    .sidebar a {
        padding:8px 3px;
        border-radius: 5px;
        font-size: 10px;
    }
    
    .sidebar-section i {
        font-size:10px;
    }
    
    .sidebar .logout a {
        padding:8px 3px;
        border-radius: 5px;
        font-size: 10px;
    }
    .logout i {
        font-size:10px;
    }
  }