@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --c-dark: #053827;
    --c-brand: #D6D6D6;
    --c-brand-hover: rgb(202, 202, 202);
    --c-brand-light: #00C38C;
    --c-brand-button: #01946A;
    --c-brand-bg-gradient: linear-gradient(to right, #D4FBDC, white);
    --c-body: #00C38C;
    --font-base: sans-serif;
    ;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
    --transition: all 0.5s ease;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: var(--font-base);
}

body {
    background: #EAEEEF;
}

header {
    margin: 0 auto;
    height: 100px;
    max-width: 1920px;
    position: relative;
    padding-left: 60px;
    padding-right: 65px;
    margin-bottom: 30px;
}

main {
    display: flex;
    padding-left: 60px;
    padding-right: 65px;
    padding-bottom: 40px;
    max-width: 1920px;
    margin: 0 auto;
}

.right-header {
    position: absolute;
    top: 25px;
    right: 65px;
}

.cmm-logo {
    height: 90px;
}

.left-header {
    position: absolute;
    bottom: 0;
    display: flex;
}

.bold {
    font-size: 18px;
    font-family: 'ClashDisplay';
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.bold:hover {
    color: rgb(97, 97, 97);
}

.lineY {
    height: 20px;
    width: 1px;
    background-color: #9A9A9A;
    margin: 0 22px;
}

.light {
    font-size: 18px;
    font-family: 'ClashDisplay';
    font-weight: 200;
    color: #9A9A9A;
}

/* right-wrapper */

.header-2 {
    padding: 20px;
}

.text-description-1 {
    padding: 0 20px;
}

.text-description-2 {
    padding: 0 20px;
}

.wrapper-right {
    max-width: 1414px;
    padding-bottom: 50px;
    background-color: white;
    margin-left: 22px;
    border-radius: 10px;
}

.grid-container {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 440px));
    grid-gap: 20px;
    position: relative;
}

.titles {
    font-size: 20px;
    margin-bottom: 20px;
}

.appointment-date-header,
.appointment-date {
    padding: 20px;
}

.next-page-button {
    background-color: rgb(211, 209, 209);
    color: black;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: -30px;
    right: 20px;
    transition: all .2s;
    /* width: 130px; */
}

.confirm-button {
    background-color: rgb(211, 209, 209);
    color: black;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 130px;
    right: 80px;
    transition: all .2s;
}

.cancel-button {
    background-color: rgb(211, 209, 209);
    color: black;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 130px;
    right: 310px;
    transition: all .2s;
}

.next-page-button:hover, .back-page-button:hover {
    filter: brightness(90%);
}

label {
    display: block;
    /* margin-bottom: 10px; */
    /* cursor: pointer; */
}

@media screen and (max-width: 1350px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(0, 440px));
    }

    .gray-button {
        bottom: 20px;

    }

    .gray-button {
        bottom: 20px;
    }

    .grid-container {
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 1066px) {
    .grid-container {
        grid-template-columns: repeat(1, minmax(0, 440px));
    }
}

@media screen and (max-width: 840px) {
    .wrapper {
        display: none;
    }

    .cmm-logo {
        margin-top: 30px;
        height: 60px;
    }
}

@media screen and (max-width: 580px) {
    .cmm-logo {
        margin-top: -10px;
        height: 50px;
    }

    main {
        padding-left: 0;
        padding-right: 10px;
    }

}
/* 2nd page wrapper design */
.wrapper-right-2 {
    max-width: 1414px;
    padding-bottom: 50px;
    background-color: white;
    margin-left: 22px;
    border-radius: 10px;
}

.text-description-only {
    padding: 0 20px;
    margin-top: -20px;
}

#gender {
    width: 251px;
    height: 25px;
}

#gender:hover {
    pointer-events: none;
}

/* calendar design */
#dob {
    width: 251px;
    height: 25px;
}

.grid-container-text {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    grid-gap: 20px; /* Gap between grid items */
}

.header-3 {
    padding: 0 20px;
}

.custom-file-input {
    padding: 20px;
    margin-top: -20px;
}

.clickable-file {
    cursor: pointer;
}
