h1 {
    font-size: 26px;
    color: #333;
}

h2 {
    color: #333;
}

.textH1Details {
    text-align: center;
    font-size: 28px;
}

.container-details {
    background-color: #fff;
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    position: relative;
}

.textdetails {
    font-size: 18px;
    line-height: 1.6;
    color: #3333339d;
    text-align: center;
}

.label {
    font-weight: bold;
}

.text-services {
    font-size: 18px;
    line-height: 1.6;
    color: #333333e5;
}

.specialty-consultations, .laboratory-tests, .imaging-tests {
    padding: 20px 0;
}

.service-details {
    position: relative;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
}

.service-content {
    /* active - background-color: #30b830cc; */
    background-color: #d9d9d9;
    height: 80px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
}

.circle-container {
    position: absolute;
    right: 10px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.circle {
    height: 10px;
    width: 30px;
    background-color: #30b830cc;
}

.personal-details-container {
    margin-top: 20px;
    display: flex;
    gap: 80px;
}

.personal-text {
    font-size: 18px;
}

.date-value {
    margin-top: 10px;
    width: 300px;
    height: 50px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.personal-content-2 {
    display: flex;
    gap: 50px;
}

.confirm-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #30b830cc;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.upload-image-container {
    height: 250px;
    margin-top: 10px;
}

.upload-img {
    height: 100%;
}

.confirm-btn:hover {
    filter: brightness(90%);
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}