@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Montserrat:wght@700&family=Nunito&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #EAEEEF;
    font-family: 'Nunito', sans-serif;
    position: relative;
}

nav {
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    height: 70px;
    background-color: #B1C4B2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.nav-sections {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 25px;
    padding: 0 40px;
}

.nav-sections .logo {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-sections .logo img {
    height: 70%;
}

.account {
    display: flex;
    align-items: center;
    gap: 10px;
}

.account .account-dp {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.account .account-dp i {
    font-size: 20px;
    color: green;
}

.account .account-name .top-name {
    font-size: 22px;
    font-weight: bold;
}

.account .account-name .bottom-name {
    margin-top: -8px;
    font-size: 12px;
    font-weight: 100;
}

.nav-list {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 18px;
    cursor: pointer;
}

.nav-list:nth-child(2) {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: rgb(58, 58, 58);
    color: white;
}

.nav-list:nth-child(1):hover {
    opacity: 0.77;
}

.nav-list:nth-child(2):hover {
    filter: brightness(77%);
}

main {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 50px;
}

.header {
    font-size: 24px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.header .line {
    height: 24px;
    width: 1px;
    background-color: black;
    opacity: 0.3;
    margin: 0 22px;
}

.header span {
    opacity: 0.3;
    font-weight: 100;
}

.schedule-container {
    margin-top: 30px;
    width: 100%;
    min-height: 710px;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    position: relative;
}

.schedule-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.test {
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.test-icon {
    font-size: 40px;
}

.date {
    background-color: #EAEEEF;
    border-radius: 4px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.date-text {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    opacity: 0.8;
}

.location {
    font-size: 18px;
    font-weight: bold;
}

.image-wellness {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 750px;
    height: 300px;
}

.image-wellness img {
   width: 100%;
}

.password-container {
    height: 595px;
    width: 500px;
    background-color: #B1C4B2;
    border-radius: 20px;
    position: fixed;
    top: calc(50% + 50px);
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

.pw-img {
    position: absolute;
    right: 20px;
    top: 40px;
    height: 54px;
}

.password-container form {
    margin-top: 50px;
    width: 100%;
}

.password-container input {
    width: 100%;
    background: none;
    border: 1px solid #096C49;
    padding: 8px 13px;
    font-size: 20px;
    margin-top: 30px;
    outline: none;
    border-radius: 5px;
}

.password-container input:focus {
    box-shadow: 0 0 5px rgba(18, 104, 18, 0.418);
}

.password-container button {
    width: 100%;
    margin-top: 50px;
    padding: 15px 0;
    font-size: 20px;
    border: none;
    background-color: #009D56;
    color: white;
    border-radius: 7px;
}

.password-container button:hover {
    filter: brightness(90%);
}


.cancelApt {
    position: fixed;
    top: 90px;
    right: 40px;
    color: red;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 13px;
    border-radius: 10px;
    font-size: 16px;
    border: 2px solid red;
    box-shadow: 3px 3px 3px rgba(255, 0, 0, 0.459);
}

.cancelApt:hover {
    box-shadow: none;
    transition: all .3s;
}