:root {
    --c-dark: #053827;
    --c-brand: #D6D6D6;
    --c-brand-hover: rgb(202, 202, 202);
    --c-brand-light: #00C38C;
    --c-brand-button: #01946A;
    --c-brand-bg-radient: linear-gradient(to right, #D4FBDC, white);
    --c-body: #00C38C;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: var(--font-base);
    background-color: ;
}

/* front background CSS*/

.bg-front {
    height: 100vh;
    background: url(../images/bg-front.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.bg-front-background{
    height: 100vh;
    background-color: var(--c-brand-button);
    opacity: calc(0.3);
}

/* front page CSS */

.container-center {
    height: 300px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.container-center .text{
    margin-top: 10px;
    text-shadow: var(--box-shadow);
}

.container-center .appointment-btn {
    margin-top: 20px;
    padding: 8px 20px;
    background-color: var(--c-brand-button);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.container-center .appointment-btn:hover{
    filter: brightness(90%);
}

/* navigation CSS*/

nav {
    height: 40px;
    max-width: calc(100% - 40px); 
    width: auto; 
    background: var(--c-dark);
    position: fixed;
    left: 30px; 
    right: 30px; 
    margin-top: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    color: var(--c-brand);
    z-index: 99;
}

.nav-title {
    font-size: 15px;
    font-weight: bold;
}

.nav-sections {
    display: flex;
    justify-content: space-between;
}

.nav-sections ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

.nav-sections ul li {
    display: inline;
    margin-left: 50px; 
}

.nav-sections ul li a {
    text-decoration: none;
    color: white;
}

.nav-sections ul li a:hover {
    color: var(--c-brand-hover);
}

.nav-sections .btn-sign-in {
    padding: 4px 25px;
    background-color: var(--c-brand-button);
    border-radius: 10px;
}

.nav-sections .btn-sign-in:hover {
    filter: brightness(90%);
}

.hamburger-nav{
    display: none;
}

/* Media Screens */

/* navbar media */
@media screen and (max-width: 850px) {
    .nav-sections {
        display: none;
    }
    .hamburger-nav {
        display: block;
    }

}

/* large mobile */
@media screen and (max-width: 425px) {
    
}

/* medium mobile */
@media screen and (max-width: 375px) {
    
}

/* small mobile */
@media screen and (max-width: 320px) {
    
}